---
Language: Cpp
BasedOnStyle: Mozilla
IndentWidth: 4
TabWidth: 4
ColumnLimit: 116
SpacesInParentheses: false
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
SpaceBeforeCpp11BracedList: true
BreakBeforeBinaryOperators: All
Cpp11BracedListStyle: true
AllowShortBlocksOnASingleLine: Always
BreakBeforeBraces: Custom
IndentAccessModifiers: false
BraceWrapping:
  AfterClass: false
  AfterControlStatement: Never
  AfterFunction: false
  AfterStruct: false
  AfterEnum: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
PackConstructorInitializers: NextLine
...
